.row {
  display: flex;
  flex-direction: row;
}
.cell {
  width: 4rem;
  height: 4rem;
  border: 1px solid white;
}

.cell.wall {
  background-color: black;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

.cell.path {
  background-color: #ffff;
}